@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import "~@fluentui/react/dist/sass/References.scss";
@import "./node_modules/spfx-uifabric-themes/office.theme.vars";
@import "../../../webparts/themes";

.addFeedDialog {
  width: 600px;
}

.colorPickerRect {
  width: 32px;
  height: 32px;
  border: 1px solid $ms-color-themeDark;
}
