@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import "~@fluentui/react/dist/sass/References.scss";
@import "./node_modules/spfx-uifabric-themes/office.theme.vars";
@import "../../../webparts/themes";

.colorPickerRect {
  width: 16px;
  height: 16px;
  border: 1px solid $ms-color-themeDark;
}

.feedList {
  margin-bottom: 1em;
}
